<!DOCTYPE html>
<html>
<head>
	<title>Player Points Predictor</title>
	<!-- Add Bootstrap stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="mt-5 mb-4 text-center">Player Points Predictor</h1>
		<form method="POST" action="/predict">
			<div class="form-group">
				<label for="player_name">Enter Player Name:</label>
				<input type="text" class="form-control" id="player_name" name="player_name" required>
			</div>

			<div class="form-group">
				<label for="stat">Enter Stat Category:</label>
				<input type="text" class="form-control" id="stat" name="stat" required>
			</div>

			<div class="form-group">
				<label for="threshold">Enter Threshold:</label>
				<input type="number" class="form-control" id="threshold" name="threshold" required>
			</div>

			<div class="form-group">
				<label for="last_n_games">Last How Many Games:</label>
				<input type="number" class="form-control" id="last_n_games" name="last_n_games" required>
			</div>

			<button type="submit" class="btn btn-primary">Predict</button>
		</form>

		{% if prediction_text %}
			<h2 class="mt-5">{{ prediction_text }}</h2>
		{% endif %}
	</div>

	<!-- Add Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#predict-btn').click(function() {
                var playerName = $('#player_name').val();
                var statCategory = $('#stat').val();
                var threshold = $('#threshold').val();
                var lastNGames = $('#last_n_games').val();

                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    data: {
                        'player_name': playerName,
                        'stat': statCategory,
                        'threshold': threshold,
                        'last_n_games': lastNGames
                    },
                    success: function(response) {
                        $('#prediction-text').html(response);
                    }
                });
            });
        });
    </script>
</body>
</html>
