<!DOCTYPE html>
<html>
<head>
	<title>Player Points Predictor</title>
</head>
<body>
	<h1>Player Points Predictor</h1>
	<form method="POST" action="/predict">
		<label for="player_name">Enter Player Name:</label>
		<input type="text" id="player_name" name="player_name" required><br>

		<label for="stat">Enter Stat Category:</label>
		<input type="text" id="stat" name="stat" required><br>

		<label for="threshold">Enter Threshold:</label>
		<input type="number" id="threshold" name="threshold" required><br>

        <label for="last_n_games">Enter Threshold:</label>
		<input type="number" id="last_n_games" name="last_n_games" required><br>

		<input type="submit" value="Predict">
	</form>
	{% if prediction_text %}
		<h2>{{ prediction_text }}</h2>
	{% endif %}
</body>
</html>